damn-vulnerable-defi-v4/*
!damn-vulnerable-defi-v4/test/
!damn-vulnerable-defi-v4/test/**
!damn-vulnerable-defi-v4/README.md
sol-dev-sketches/proxy-upgrade-hardhat/*
!sol-dev-sketches/proxy-upgrade-hardhat/contracts/
!sol-dev-sketches/proxy-upgrade-hardhat/contracts/**
!sol-dev-sketches/proxy-upgrade-hardhat/scripts/
!sol-dev-sketches/proxy-upgrade-hardhat/scripts/**
!sol-dev-sketches/proxy-upgrade-hardhat/hardhat.config.js
!sol-dev-sketches/proxy-upgrade-hardhat/README.md
capture-the-ether/*
!capture-the-ether/contracts/
!capture-the-ethercontracts/**
!capture-the-ether/scripts/
!capture-the-ether/scripts/**
!capture-the-ether/test/
!capture-the-ether/test/**
!capture-the-ether/hardhat.config.js
!capture-the-ether/tsconfig.js
!capture-the-ether/README.md